<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="info.papdt.express.helper">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="true"
		android:name=".Application"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:fullBackupContent="true"
		android:theme="@style/AppTheme">

		<activity android:name=".EntryActivity"
		          android:theme="@style/EmptyActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
		</activity>

		<activity android:name=".ui.SplashActivity"
		          android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.MainActivity"
		          android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.AddActivity"
		          android:label="@string/activity_add"
		          android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.CompanyChooserActivity"
		          android:label="@string/activity_choose_company"
		          android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.DetailsActivity"
		          android:label="@string/activity_details"
		          android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.SettingsActivity"
		          android:label="@string/activity_settings"
		          android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.ScannerActivity"
		          android:label="@string/activity_scanner"
		          android:theme="@style/AppTheme.Dark">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.SearchActivity"
		          android:label="@string/activity_search"
		          android:theme="@style/AppTheme.Translucent">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.ImportExportActivity"
		          android:label="@string/activity_import_export"
		          android:theme="@style/AppTheme.Grey">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".ui.shortcut.ScannerShortcutCreator"
		          android:label="@string/activity_scanner"
		          android:icon="@mipmap/ic_scanner_launcher"
		          android:theme="@style/EmptyActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.CREATE_SHORTCUT"/>
			</intent-filter>
		</activity>

		<service android:name="info.papdt.express.helper.services.ReminderService"/>
		<service android:name="info.papdt.express.helper.services.AppWidgetService"
		         android:permission="android.permission.BIND_REMOTEVIEWS"/>

		<receiver android:name="info.papdt.express.helper.receiver.ConnectivityReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
			</intent-filter>
		</receiver>

		<receiver android:name=".ui.launcher.AppWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_provider"/>
		</receiver>

	</application>

</manifest>
